:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-title::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Start navbar ...................................................................... */

.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: #33d1cc;
}

.navbar .search {
  border-left: 2px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .mostafa {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.navbar .mostafa:hover {
  background-color: var(--red-color);
  color: white;
}

/* End navbar ................................................................ */

/* Start  Landing  ............................................................ */

.landing {
  background-color: var(--dark-color);
  min-height: 500px;
}

.landing .mostafa {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0, 5rem 1rem;
}
.landing .mostafa:hover {
  background-color: var(--red-color);
  color: white;
}

mo {
  position: relative;
}
/* End  Landing  ................................................................. */

/* start features ................................................................. */
.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  height: 12rem;
  color: var(--section-color);
}

.features .icon-holder .icon {
  color: var(--green-color);
  font-size: 60px;
}

.features .feat h4 {
  color: var(--yellow-color);
}
/* End features   .................................................................*/

/* Start Our-Morks ................................................................... */
.our-work {
  background-color: var(--section-color);
}

.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.our-work ul :not(.active):hover {
  color: var(--yellow-color);
}

.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: var(--green-color);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  transition: 0.5s;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translatex(0);
}

.our-work .more {
  background-color: var(--red-color);
  color: var(--yellow-color);
  border-color: var(--green-color);
}

.our-work .more:hover {
  border: 2px solid var(--green-color);
  background-color: var(--red-color);
  color: white;
}
/* Start Our-Morks ................................................................... */

/* Start Stuff ................................................................... */
.stuff .paragraph {
  /* width: 480px; */
  width: 100%;
}
.stuff .order a {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 10px;
  font-weight: bold;
  width: 150px;
}
.stuff .order a:hover {
  color: white;
}
/* End Stuff ................................................................... */

/* Start Team  ................................................................... */
.team {
  background-color: var(--section-color);
}

.team h2 {
  color: var(--yellow-color);
}

.team .box h4 {
  height: 60px;
  color: white;
  padding-top: 15px;
  background-color: var(--green-color);
}
/* End Team  ................................................................... */

/*  Start project  ................................................................... */
.project {
  height: 300px;
  background-color: var(--dark-color);
}

.project .text a {
  background-color: var(--red-color);
  color: var(--yellow-color);
  font-weight: 500;
}
.project .text a:hover {
  color: white;
}
/*  End project  ................................................................... */

/*  Start Blog  ................................................................... */
.blog .more a {
  background-color: var(--red-color);
  color: var(--yellow-color);
  font-weight: 500;
}
.blog .more a:hover {
  color: white;
}
/*  End Blog  ................................................................... */

/* Start Subscribe ............................................................... */
.subscribe {
  background-color: var(--yellow-color);
}

.subscribe input {
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}
.subscribe input:focus {
  outline: none;
}

.subscribe ::placeholder {
  color: white;
  font-weight: 500;
}

.subscribe .sub {
  background-color: var(--dark-color);
  color: var(--yellow-color);
  font-weight: 500;
}
.subscribe .sub:hover {
  background-color: var(--dark-color);
  color: white;
}
/* End Subscribe ............................................................... */

/* Start footer .......................................................................... */
.footer {
  background-color: var(--dark-color);
  font-weight: 500;
}

.footer .text span {
  color: var(--green-color);
}

.footer .te span {
  color: var(--yellow-color);
}

.footer .us .lin a {
  width: 100%;
  background-color: var(--red-color);
  color: var(--yellow-color);
  font-weight: 500;
}
.footer .us .lin a:hover {
  color: white;
}

.footer .us ul svg {
  width: 20px;
  height: 20px;
}

.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0a66c2;
}
.footer .youtube {
  background-color: #ff0000;
}

/* End footer ..........................................................................  */
